* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #586f6b;
  --secondary-color: #babd8d;
  --accent-color: #ffdac6;
  --success-color: #815355;
  --info-color: #2c1a1d;
}

body {
  background-color: var(--primary-color);
}

nav {
  background-color: var(--primary-color) !important;
}

a {
  color: var(--primary-color);
}

nav a {
  color: var(--info-color) !important;
}

.form-wrapper {
  text-align: center;
}

form {
  width: fit-content;
  margin: 0 auto;
}

a.login-here {
  color: var(--info-color);
  text-decoration: underline;
}

button {
  background-color: var(--accent-color) !important;
  border: none !important;
  color: var(--info-color) !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}