.header-h1 {
    color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif
    text-align: center; 
    text-transform: uppercase;
    margin:auto;

}

.navbar {
    background-color: rgb(255, 246, 246);
    border-radius: 15px;
    border-style: hidden;
    padding: 18px;
    text-align: center;
    width:auto;
    position: sticky;
    top:0;
    z-index: 1;

}
#profilepic {
    border-radius: 85px;
    padding-top: 7px;
}

.container-about {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: hidden;
    padding: 18px;
    text-align: center;
}

.navbar {
    color: rgb(27, 22, 22);
    text-decoration: none;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.flex-project-container>div{
    background-color: #f1f1f1;
    width:150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-style: hidden;
    border-radius: 30px;
}
.project {
    background-color: rgb(255,255,255);
    border-radius: 15px;
    border-style:hidden;
    padding: 10px;
    text-align: center;
}
.projects h1{
    font-family: 'Ruda', sans-serif;
}

.projects p{
    font-family: 'slabo 27px', serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-banner{
    background-color: #f1f1f1; 
    text-align: center;
    border-style: hidden;
    corner-radius: 15px;
}

.container a{
    padding-right: 10px;
    text-decoration: none;

}

.container p{
    color: black;
    font-family: 'slabo 27px', serif;
}

.container a:hover{
    transform: scale(1.1);
}
container-1{
    color: #f1f1f1;
    text-align: center; 
    font-family: 'Salra Semi Condensed', sans-serif;
    font-size: 16px;
}

#mail{
    text-decoration: none;
    color: white;
    font-family: 'Salra Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
}